{% extends "base.html" %}
{% block content %}
		<!-- Begin #colLeft -->
		<div id="colLeft">		
		<!-- Begin .postBox -->
        <div class="top-title"><span>您的位置： <strong>"搜索结果"</strong></span></div>
							<!-- Begin .postBox -->
		<div class="postBox">
			<div class="postBoxTop"></div>
			<div class="postBoxMid">
				<div class="postBoxMidInner first clearfix">
		<p>不好意思，没有找到您要的文章，或许您可以在搜索栏中再查找一下。</p>
				</div>
			</div>
			<div class="postBoxBottom"></div>
		</div>		
		<!-- End .postBox -->
		</div>
		<!-- End #colLeft -->
		{% include "sidebar.html" %}

{% endblock %}