{% extends "base.html" %}
{% block content %}
		<!-- Begin #colLeft -->
		<div id="colLeft">		
		<!-- Begin .postBox -->
        <div class="top-title"><span>Your location <strong>"Search Result"</strong></span></div>
							<!-- Begin .postBox -->
		<div class="postBox">
			<div class="postBoxTop"></div>
			<div class="postBoxMid">
				<div class="postBoxMidInner first clearfix">
		<p>Sorry, we can't find any posts.You may try to search in the search bar.</p>
				</div>
			</div>
			<div class="postBoxBottom"></div>
		</div>		
		<!-- End .postBox -->
		</div>
		<!-- End #colLeft -->
		{% include "sidebar.html" %}

{% endblock %}